/* Shorts */
html[data-disable-shorts='true'] .yt-simple-endpoint[title='Shorts'],
html[data-disable-shorts='true']
    ytd-rich-section-renderer:has(
        div#content ytd-rich-shelf-renderer[is-shorts]
    ),
html[data-disable-shorts='true']
    ytd-reel-shelf-renderer.style-scope.ytd-item-section-renderer {
    display: none !important;
}

/* Ads */
html[data-disable-ads='true']
    ytd-rich-item-renderer[rich-grid-hover-highlight].ytd-rich-grid-renderer,
html[data-disable-ads='true'] ytd-ad-slot-renderer,
html[data-disable-ads='true'] #player-ads,
html[data-disable-ads='true'] div#panels.style-scope.ytd-watch-flexy {
    display: none !important;
}

/* Header */
html[data-disable-header-menu='true']
    yt-icon-button#guide-button.style-scope.ytd-masthead,
html[data-disable-header-logo='true']
    a#logo.yt-simple-endpoint.style-scope.ytd-topbar-logo-renderer,
html[data-disable-header-country='true']
    span#country-code.style-scope.ytd-topbar-logo-renderer,
html[data-disable-header-search-bar='true']
    yt-searchbox.ytSearchboxComponentHost.ytSearchboxComponentDesktop.ytd-masthead.ytSearchboxComponentHostDark,
html[data-disable-header-voice-search='true']
    div#voice-search-button.style-scope.ytd-masthead,
html[data-disable-header-create='true']
    ytd-button-renderer.style-scope.ytd-masthead,
html[data-disable-header-notifications='true']
    ytd-notification-topbar-button-renderer.style-scope.ytd-masthead,
html[data-disable-header-profile='true']
    ytd-topbar-menu-button-renderer.style-scope.ytd-masthead {
    display: none !important;
}

/* Each of header setting enabled, then hide whole header */
html[data-disable-header-menu='true'][data-disable-header-logo='true'][data-disable-header-country='true'][data-disable-header-search-bar='true'][data-disable-header-voice-search='true'][data-disable-header-create='true'][data-disable-header-notifications='true'][data-disable-header-profile='true']
    div#masthead-container.style-scope.ytd-app {
    display: none !important;
}

/* Sidebar */

html[data-disable-sidebar='true'] #secondary.ytd-watch-flexy,
html[data-disable-sidebar-panels='true'] #panels,
html[data-disable-sidebar-live-chat='true'] #chat-container,
html[data-disable-sidebar-donation-shelf='true'] #donation-shelf,
html[data-disable-sidebar-tags='true']
    yt-related-chip-cloud-renderer.style-scope.ytd-watch-next-secondary-results-renderer,
html[data-disable-sidebar-related='true']
    ytd-item-section-renderer.style-scope.ytd-watch-next-secondary-results-renderer {
    display: none !important;
}

/* Each of sidebar settings enabled, then hide whole sidebar */
html[data-disable-sidebar-panels='true'][data-disable-sidebar-live-chat='true'][data-disable-sidebar-donation-shelf='true'][data-disable-sidebar-tags='true'][data-disable-sidebar-related='true']
    #secondary.ytd-watch-flexy {
    display: none !important;
}

/* ----------------------------------- */

/* Video Metadata */
html[data-disable-chat-replay='true'] ytd-live-chat-frame#chat,
html[data-disable-related='true'] #related.ytd-watch-flexy,
html[data-disable-sponsor='true'] #sponsor-button.ytd-video-owner-renderer,
html[data-disable-description='true']
    div#description.item.style-scope.ytd-watch-metadata,
html[data-disable-description-game-cards='true']
    ytd-metadata-row-container-renderer.ytd-watch-metadata,
html[data-disable-description-people-mentioned='true']
    yt-video-attributes-section-view-model,
html[data-disable-description-video-summary='true'] #video-summary,
html[data-disable-description-merch='true'] #merch-shelf,
html[data-disable-description-ticket='true'] #ticket-shelf,
html[data-disable-description-music='true'] ytd-horizontal-card-list-renderer,
html[data-disable-description-transcript='true']
    ytd-video-description-transcript-section-renderer,
html[data-disable-description-infocard='true']
    ytd-video-description-infocards-section-renderer,
html[data-disable-description-teaser-carousel='true']
    #teaser-carousel.item.style-scope.ytd-watch-metadata,
html[data-disable-description-how-this-was-made='true']
    how-this-was-made-section-view-model,
html[data-disable-description-merch='true'] ytd-merch-shelf-renderer,
html[data-disable-description-ai-summary='true']
    #expandable-metadata.style-scope.ytd-watch-flexy {
    display: none !important;
}

/* If Music & Transcript & Infocard is disabled then disable their parent */
html[data-disable-description-music='true'][data-disable-description-transcript='true'][data-disable-description-infocard='true']
    div#items.style-scope.ytd-structured-description-content-renderer {
    display: none !important;
}

/* If Music & Transcript & Infocard & Tickets & Merch & Video Summary, then disable their parent */
[data-disable-description-music='true'][data-disable-description-transcript='true'][data-disable-description-infocard='true'][data-disable-description-video-summary='true'][data-disable-description-merch='true'][data-disable-description-ticket='true'][data-disable-description-music='true']
    ytd-structured-description-content-renderer#structured-description.style-scope.ytd-watch-metadata {
    display: none !important;
}

/* ----------------------------------- */

/* Tags */
html[data-disable-tags='true']
    ytd-rich-grid-renderer
    > #header
    > ytd-feed-filter-chip-bar-renderer,
html[data-disable-tags='true'] yt-related-chip-cloud-renderer {
    display: none !important;
}

html[data-disable-tags='true'] #frosted-glass {
    height: 60px !important;
}

html[data-disable-tags='true'] #contents.ytd-rich-grid-renderer {
    padding-top: 14px;
}

/* Comments */
html[data-disable-comments='true'] ytd-comments {
    display: none !important;
}
