/* Shorts */
html[data-disable-shorts='true'] .yt-simple-endpoint[title='Shorts'],
html[data-disable-shorts='true']
    ytd-rich-section-renderer:has(
        div#content ytd-rich-shelf-renderer[is-shorts]
    ),
html[data-disable-shorts='true']
    ytd-reel-shelf-renderer.style-scope.ytd-item-section-renderer {
    display: none !important;
}

/* Override styling for "isInFirstColumn", which adds additional margin for video card */
html[data-disable-shorts='true']
    ytd-rich-item-renderer[rendered-from-rich-grid][is-in-first-column] {
    margin-left: calc(var(--ytd-rich-grid-item-margin) / 2) !important;
}

/* For some reason grid with containers has flex-start, which places whole grid with empty space on right side */
html[data-disable-shorts='true'] div#contents.ytd-rich-grid-renderer {
    justify-content: center !important;
}

/* ----------------------------------- */

/* -----------Main Content------------ */

html[data-disable-main-content-tags='true']
    div#header.style-scope.ytd-rich-grid-renderer,
html[data-disable-main-content-explore-more-topics='true']
    ytd-rich-section-renderer:has(
        div#content ytd-chips-shelf-with-video-shelf-renderer
    ) {
    display: none !important;
}

/* If main content tags are disabled, then whole header height must be reduced */
html[data-disable-main-content-tags='true'] div#frosted-glass {
    height: 61px !important;
}

/* ----------------------------------- */

/* --------------Ads------------------ */

html[data-disable-ads='true']
    ytd-rich-item-renderer[rich-grid-hover-highlight].ytd-rich-grid-renderer,
html[data-disable-ads='true'] ytd-ad-slot-renderer,
html[data-disable-ads='true'] #player-ads,
html[data-disable-ads='true'] div#panels.style-scope.ytd-watch-flexy {
    display: none !important;
}

/* ----------------------------------- */

/* html[data-disable-menu-history='true']
    ytd-guide-entry-renderer
    a[title='History'],
html[data-disable-menu-playlists='true']
    ytd-guide-entry-renderer
    a[title='Playlists'],
html[data-disable-menu-watch-later='true']
    ytd-guide-entry-renderer
    a[title='Watch later'],
html[data-disable-menu-liked-videos='true']
    ytd-guide-entry-renderer
    a[title='Liked videos'],
html[data-disable-menu-your-videos='true']
    ytd-guide-entry-renderer
    a[title='Your videos'],
html[data-disable-menu-downloads='true']
    ytd-guide-entry-renderer
    a[title='Downloads'],
html[data-disable-menu-courses='true']
    ytd-guide-entry-renderer
    a[title='Courses'],
html[data-disable-menu-clips='true'] ytd-guide-entry-renderer a[title='Clips'],
html[data-disable-menu-show-less='true']
    ytd-guide-entry-renderer
    a[title='Show less'], */
/* html[data-disable-menu-music='true'] ytd-guide-entry-renderer a[title='Music'],
    html[data-disable-menu-movies='true']
    ytd-guide-entry-renderer
    a[title='Movies'],
    html[data-disable-menu-live='true'] ytd-guide-entry-renderer a[title='Live'],
    html[data-disable-menu-gaming='true']
    ytd-guide-entry-renderer
    a[title='Gaming'],
    html[data-disable-menu-news='true'] ytd-guide-entry-renderer a[title='News'],
    html[data-disable-menu-sports='true']
    ytd-guide-entry-renderer
    a[title='Sports'],
    html[data-disable-menu-podcasts='true']
    ytd-guide-entry-renderer
    a[title='Podcasts'], */
/* html[data-disable-menu-youtube-premium='true']
    ytd-guide-entry-renderer
    a[title='YouTube Premium'],
    html[data-disable-menu-youtube-studio='true']
    ytd-guide-entry-renderer
    a[title='YouTube Studio'],
    html[data-disable-menu-youtube-music='true']
    ytd-guide-entry-renderer
    a[title='YouTube Music'],
    html[data-disable-menu-youtube-kids='true']
    ytd-guide-entry-renderer
    a[title='YouTube Kids'], */
/* html[data-disable-menu-report-history='true']
    ytd-guide-entry-renderer
    a[title='Report history'], */
/* html[data-disable-menu-help='true'] ytd-guide-entry-renderer a[title='Help'], */

/* -------------Header---------------- */
html[data-disable-header='true'] div#masthead-container,
html[data-disable-header-menu='true']
    yt-icon-button#guide-button.style-scope.ytd-masthead,
html[data-disable-header-logo='true']
    a#logo.yt-simple-endpoint.style-scope.ytd-topbar-logo-renderer,
html[data-disable-header-country='true']
    span#country-code.style-scope.ytd-topbar-logo-renderer,
html[data-disable-header-search-bar='true']
    yt-searchbox.ytSearchboxComponentHost.ytSearchboxComponentDesktop.ytd-masthead.ytSearchboxComponentHostDark,
html[data-disable-header-voice-search='true']
    div#voice-search-button.style-scope.ytd-masthead,
html[data-disable-header-create='true']
    ytd-button-renderer.style-scope.ytd-masthead,
html[data-disable-header-notifications='true']
    ytd-notification-topbar-button-renderer.style-scope.ytd-masthead,
html[data-disable-header-profile='true']
    ytd-topbar-menu-button-renderer.style-scope.ytd-masthead {
    display: none !important;
}

/* Disable top margin */
html[data-disable-header='true'] ytd-page-manager#page-manager.ytd-app {
    --ytd-toolbar-offset: 0 !important;
    margin-top: 0 !important;
}

/* Each of header setting enabled, then hide whole header */
html[data-disable-header-menu='true'][data-disable-header-logo='true'][data-disable-header-country='true'][data-disable-header-search-bar='true'][data-disable-header-voice-search='true'][data-disable-header-create='true'][data-disable-header-notifications='true'][data-disable-header-profile='true']
    div#masthead-container.style-scope.ytd-app {
    display: none !important;
}

/* ----------------------------------- */

/* --------------Menu------------------ */
html[data-disable-menu='true'] div#contentContainer,
html[data-disable-menu='true']
    yt-icon-button#guide-button.style-scope.ytd-masthead,
html[data-disable-menu-home='true'] ytd-guide-entry-renderer a[title='Home'],
html[data-disable-menu-shorts='true']
    ytd-guide-entry-renderer
    a[title='Shorts'],
html[data-disable-menu-subscriptions='true']
    ytd-guide-renderer
    #sections
    ytd-guide-section-renderer:nth-child(2),
html[data-disable-menu-you='true']
    ytd-guide-renderer
    #sections
    ytd-guide-section-renderer:nth-child(3),
html[data-disable-menu-explore='true']
    ytd-guide-renderer
    #sections
    ytd-guide-section-renderer:nth-child(4),
html[data-disable-menu-more-from-youtube='true']
    ytd-guide-renderer
    #sections
    ytd-guide-section-renderer:nth-child(5),
html[data-disable-menu-settings='true']
    ytd-guide-renderer
    #sections
    ytd-guide-section-renderer:nth-child(6),
html[data-disable-menu-footer='true'] ytd-guide-renderer > #footer {
    display: none !important;
}

html[data-disable-menu-home='true'][data-disable-menu-shorts='true']
    ytd-guide-renderer
    #sections
    ytd-guide-section-renderer:nth-child(1) {
    display: none !important;
}

html[data-disable-menu-mini='true'] ytd-mini-guide-renderer {
    display: none !important;
}

html[data-disable-menu-mini='true']
    ytd-app[guide-persistent-and-visible]
    ytd-page-manager.ytd-app {
    margin-left: var(--ytd-persistent-guide-width) !important;
}

html[data-disable-menu-mini='true']
    ytd-app[mini-guide-visible]
    ytd-page-manager.ytd-app {
    margin-left: 0px !important;
}

/* ----------------------------------- */

/* -------------Sidebar--------------- */

html[data-disable-sidebar='true'] #secondary.ytd-watch-flexy,
html[data-disable-sidebar-panels='true'] #panels,
html[data-disable-sidebar-live-chat='true'] #chat-container,
html[data-disable-sidebar-donation-shelf='true'] #donation-shelf,
html[data-disable-sidebar-tags='true']
    yt-related-chip-cloud-renderer.style-scope.ytd-watch-next-secondary-results-renderer,
html[data-disable-sidebar-related='true']
    ytd-item-section-renderer.style-scope.ytd-watch-next-secondary-results-renderer {
    display: none !important;
}

/* Each of sidebar settings enabled, then hide whole sidebar */
html[data-disable-sidebar-panels='true'][data-disable-sidebar-live-chat='true'][data-disable-sidebar-donation-shelf='true'][data-disable-sidebar-tags='true'][data-disable-sidebar-related='true']
    #secondary.ytd-watch-flexy {
    display: none !important;
}

/* ----------------------------------- */

/* ---------Channel controls---------- */

html[data-disable-channel-controls='true'] div#above-the-fold {
    display: none !important;
}

html[data-disable-channel-controls-title='true'] div#title,
html[data-disable-channel-controls-avatar='true'] yt-img-shadow#avatar,
html[data-disable-channel-controls-channel='true'] div#upload-info,
html[data-disable-channel-controls-join='true'] div#sponsor-button,
html[data-disable-channel-controls-subscribe='true'] div#subscribe-button,
html[data-disable-channel-controls-like='true'] div#top-level-buttons-computed,
html[data-disable-channel-controls-share='true']
    yt-button-view-model
    > button-view-model
    > button[aria-label='Share'],
html[data-disable-channel-controls-download='true']
    ytd-download-button-renderer,
html[data-disable-channel-controls-thanks='true']
    yt-button-view-model
    > button-view-model
    > button[aria-label='Thanks'],
html[data-disable-channel-controls-more='true'] yt-button-shape#button-shape {
    display: none !important;
}

/* If Thanks and Download enabled, remove parent element with paddings */
html[data-disable-channel-controls-share='true'][data-disable-channel-controls-thanks='true']
    div#flexible-item-buttons {
    display: none !important;
}

/* If every setting is enabled, disable parent element */
html[data-disable-channel-controls-title='true'][data-disable-channel-controls-avatar='true'][data-disable-channel-controls-channel='true'][data-disable-channel-controls-join='true'][data-disable-channel-controls-subscribe='true'][data-disable-channel-controls-like='true'][data-disable-channel-controls-share='true'][data-disable-channel-controls-more='true']
    div#above-the-fold {
    display: none !important;
}

/* ----------------------------------- */

/* ----------Video Metadata----------- */
html[data-disable-chat-replay='true'] ytd-live-chat-frame#chat,
html[data-disable-related='true'] #related.ytd-watch-flexy,
html[data-disable-sponsor='true'] #sponsor-button.ytd-video-owner-renderer,
html[data-disable-description='true']
    div#description.item.style-scope.ytd-watch-metadata,
html[data-disable-description-game-cards='true']
    ytd-metadata-row-container-renderer.ytd-watch-metadata,
html[data-disable-description-people-mentioned='true']
    yt-video-attributes-section-view-model,
html[data-disable-description-video-summary='true'] #video-summary,
html[data-disable-description-merch='true'] #merch-shelf,
html[data-disable-description-ticket='true'] #ticket-shelf,
html[data-disable-description-cards='true'] ytd-horizontal-card-list-renderer,
html[data-disable-description-gaming='true']
    ytd-video-description-gaming-section-renderer,
html[data-disable-description-transcript='true']
    ytd-video-description-transcript-section-renderer,
html[data-disable-description-infocard='true']
    ytd-video-description-infocards-section-renderer,
html[data-disable-description-teaser-carousel='true']
    #teaser-carousel.item.style-scope.ytd-watch-metadata,
html[data-disable-description-how-this-was-made='true']
    how-this-was-made-section-view-model,
html[data-disable-description-merch='true'] ytd-merch-shelf-renderer,
html[data-disable-description-ai-summary='true']
    #expandable-metadata.style-scope.ytd-watch-flexy {
    display: none !important;
}

/* If Music & Transcript & Infocard is disabled then disable their parent */
html[data-disable-description-music='true'][data-disable-description-transcript='true'][data-disable-description-infocard='true']
    div#items.style-scope.ytd-structured-description-content-renderer {
    display: none !important;
}

/* If Music & Transcript & Infocard & Tickets & Merch & Video Summary enabled, then disable their parent */
[data-disable-description-music='true'][data-disable-description-transcript='true'][data-disable-description-infocard='true'][data-disable-description-video-summary='true'][data-disable-description-merch='true'][data-disable-description-ticket='true'][data-disable-description-music='true']
    ytd-structured-description-content-renderer#structured-description.style-scope.ytd-watch-metadata {
    display: none !important;
}

/* ----------------------------------- */

/* -------------Comments-------------- */

html[data-disable-comments='true'] ytd-comments {
    display: none !important;
}

html[data-disable-tags='true'] #frosted-glass {
    height: 60px !important;
}

html[data-disable-tags='true'] #contents.ytd-rich-grid-renderer {
    padding-top: 14px;
}

/* ----------------------------------- */
