/* -----------Main Content------------ */

html[data-disable-main-content-ads] ytd-ad-slot-renderer,
html[data-disable-main-content-tags]
    div#header.style-scope.ytd-rich-grid-renderer,
html[data-disable-main-content-shorts]
    ytd-rich-section-renderer:has(
        div#content ytd-rich-shelf-renderer[is-shorts]
    ),
html[data-disable-main-content-explore-more-topics]
    ytd-rich-section-renderer:has(
        div#content ytd-chips-shelf-with-video-shelf-renderer
    ) {
    display: none !important;
}

/* If main content tags are disabled, then whole header height must be reduced */
html[data-disable-main-content-tags] div#frosted-glass {
    height: 61px !important;
}

/* For some reason grid with containers has flex-start, which places whole grid with empty space on right side */
html[data-center-videos] div#contents.ytd-rich-grid-renderer {
    justify-content: center !important;
}

/* Override styling for "isInFirstColumn", which adds additional margin for video card */
ytd-rich-item-renderer[rendered-from-rich-grid][is-in-first-column] {
    margin-left: calc(var(--ytd-rich-grid-item-margin) / 2) !important;
}

/* ----------------------------------- */

/* --------------Ads------------------ */

html[data-disable-ads]
    ytd-rich-item-renderer[rich-grid-hover-highlight].ytd-rich-grid-renderer,
/* Preserve parent block of ad card to avoid grid breaking */    
html[data-disable-ads] ytd-ad-slot-renderer,
html[data-disable-ads] #player-ads,
html[data-disable-ads] div#panels.style-scope.ytd-watch-flexy {
    display: none !important;
}

/* ----------------------------------- */

/* -------------Header---------------- */
html[data-disable-header] div#masthead-container,
html[data-disable-header-menu]
    yt-icon-button#guide-button.style-scope.ytd-masthead,
html[data-disable-header-logo]
    a#logo.yt-simple-endpoint.style-scope.ytd-topbar-logo-renderer,
html[data-disable-header-country]
    span#country-code.style-scope.ytd-topbar-logo-renderer,
html[data-disable-header-search-bar]
    yt-searchbox.ytSearchboxComponentHost.ytSearchboxComponentDesktop.ytd-masthead.ytSearchboxComponentHostDark,
html[data-disable-header-voice-search]
    div#voice-search-button.style-scope.ytd-masthead,
html[data-disable-header-create] ytd-button-renderer.style-scope.ytd-masthead,
html[data-disable-header-notifications]
    ytd-notification-topbar-button-renderer.style-scope.ytd-masthead,
html[data-disable-header-profile]
    ytd-topbar-menu-button-renderer.style-scope.ytd-masthead {
    display: none !important;
}

/* Disable top margin */
html[data-disable-header] ytd-page-manager#page-manager.ytd-app {
    --ytd-toolbar-offset: 0 !important;
    margin-top: 0 !important;
}

/* Each of header setting enabled, then hide whole header */
html[data-disable-header-menu][data-disable-header-logo][data-disable-header-country][data-disable-header-search-bar][data-disable-header-voice-search][data-disable-header-create][data-disable-header-notifications][data-disable-header-profile]
    div#masthead-container.style-scope.ytd-app,
html[data-disable-header] div#frosted-glass {
    display: none !important;
}

/* ----------------------------------- */

/* --------------Menu------------------ */
html[data-disable-menu] div#contentContainer,
html[data-disable-menu] yt-icon-button#guide-button.style-scope.ytd-masthead,
html[data-disable-menu-home] ytd-guide-entry-renderer a[title='Home'],
html[data-disable-menu-shorts] ytd-guide-entry-renderer a[title='Shorts'],
html[data-disable-menu-shorts] .yt-simple-endpoint[title='Shorts'],
html[data-disable-menu-subscriptions]
    ytd-guide-renderer
    #sections
    ytd-guide-section-renderer:nth-child(2),
html[data-disable-menu-you]
    ytd-guide-renderer
    #sections
    ytd-guide-section-renderer:nth-child(3),
html[data-disable-menu-explore]
    ytd-guide-renderer
    #sections
    ytd-guide-section-renderer:nth-child(4),
html[data-disable-menu-more-from-youtube]
    ytd-guide-renderer
    #sections
    ytd-guide-section-renderer:nth-child(5),
html[data-disable-menu-settings]
    ytd-guide-renderer
    #sections
    ytd-guide-section-renderer:nth-child(6),
html[data-disable-menu-footer] ytd-guide-renderer > #footer {
    display: none !important;
}

html[data-disable-menu-home][data-disable-menu-shorts]
    ytd-guide-renderer
    #sections
    ytd-guide-section-renderer:nth-child(1) {
    display: none !important;
}

html[data-disable-menu-mini] ytd-mini-guide-renderer {
    display: none !important;
}

html[data-disable-menu-mini]
    ytd-app[guide-persistent-and-visible]
    ytd-page-manager.ytd-app {
    margin-left: var(--ytd-persistent-guide-width) !important;
}

html[data-disable-menu-mini]
    ytd-app[mini-guide-visible]
    ytd-page-manager.ytd-app {
    margin-left: 0px !important;
}

/* ----------------------------------- */

/* -------------Sidebar--------------- */

html[data-disable-sidebar] #secondary.ytd-watch-flexy,
html[data-disable-sidebar-shorts]
    #secondary
    ytd-reel-shelf-renderer.style-scope.ytd-item-section-renderer,
html[data-disable-sidebar-panels] #panels,
html[data-disable-sidebar-live-chat] #chat-container,
html[data-disable-sidebar-donation-shelf] #donation-shelf,
html[data-disable-sidebar-tags]
    yt-related-chip-cloud-renderer.style-scope.ytd-watch-next-secondary-results-renderer,
html[data-disable-sidebar-related] #related yt-lockup-view-model {
    display: none !important;
}

/* Each of sidebar settings enabled, then hide whole sidebar */
html[data-disable-sidebar-panels][data-disable-sidebar-live-chat][data-disable-sidebar-donation-shelf][data-disable-sidebar-tags][data-disable-sidebar-related]
    #secondary.ytd-watch-flexy {
    display: none !important;
}

/* ----------------------------------- */

/* ---------Channel controls---------- */

html[data-disable-channel-controls] div#above-the-fold #top-row {
    display: none !important;
}
html[data-disable-channel-controls-title] div#title,
html[data-disable-channel-controls-avatar] yt-img-shadow#avatar,
html[data-disable-channel-controls-channel] div#upload-info,
html[data-disable-channel-controls-join] div#sponsor-button,
html[data-disable-channel-controls-subscribe] div#subscribe-button,
html[data-disable-channel-controls-like] div#top-level-buttons-computed,
html[data-disable-channel-controls-share]
    button-view-model
    > button[aria-label='Share'],
html[data-disable-channel-controls-save]
    button-view-model
    > button[aria-label='Save to playlist'],
html[data-disable-channel-controls-clip]
    button-view-model
    > button[aria-label='Clip'],
html[data-disable-channel-controls-download] ytd-download-button-renderer,
html[data-disable-channel-controls-thanks]
    yt-button-view-model
    > button-view-model
    > button[aria-label='Thanks'],
html[data-disable-channel-controls-more] yt-button-shape#button-shape {
    display: none !important;
}

/* Hide the whole container if both settings are turn off */
html[data-disable-channel-controls-save][data-disable-channel-controls-clip]
    ytd-menu-renderer
    > #flexible-item-buttons {
    display: none !important;
}

/* If every setting is enabled, disable parent element */
html[data-disable-channel-controls-title][data-disable-channel-controls-avatar][data-disable-channel-controls-channel][data-disable-channel-controls-join][data-disable-channel-controls-subscribe][data-disable-channel-controls-like][data-disable-channel-controls-share][data-disable-channel-controls-more]
    div#above-the-fold {
    display: none !important;
}

/* ----------------------------------- */

/* ----------Video Metadata----------- */
html[data-disable-chat-replay] ytd-live-chat-frame#chat,
html[data-disable-related] #related.ytd-watch-flexy,
html[data-disable-sponsor] #sponsor-button.ytd-video-owner-renderer,
html[data-disable-description-description]
    div#description.item.style-scope.ytd-watch-metadata,
html[data-disable-description-game-cards]
    ytd-metadata-row-container-renderer.ytd-watch-metadata,
html[data-disable-description-people-mentioned]
    yt-video-attributes-section-view-model,
html[data-disable-description-video-summary] #video-summary,
html[data-disable-description-merch] #merch-shelf,
html[data-disable-description-ticket] #ticket-shelf,
html[data-disable-description-cards] ytd-horizontal-card-list-renderer,
html[data-disable-description-gaming]
    ytd-video-description-gaming-section-renderer,
html[data-disable-description-transcript]
    ytd-video-description-transcript-section-renderer,
html[data-disable-description-infocard]
    ytd-video-description-infocards-section-renderer,
html[data-disable-description-teaser-carousel]
    #teaser-carousel.item.style-scope.ytd-watch-metadata,
html[data-disable-description-how-this-was-made]
    how-this-was-made-section-view-model,
html[data-disable-description-merch] ytd-merch-shelf-renderer,
html[data-disable-description-ai-summary]
    #expandable-metadata.style-scope.ytd-watch-flexy {
    display: none !important;
}

/* If Music & Transcript & Infocard is disabled then disable their parent */
html[data-disable-description-music][data-disable-description-transcript][data-disable-description-infocard]
    div#items.style-scope.ytd-structured-description-content-renderer {
    display: none !important;
}

/* If Music & Transcript & Infocard & Tickets & Merch & Video Summary enabled, then disable their parent */
[data-disable-description-music][data-disable-description-transcript][data-disable-description-infocard][data-disable-description-video-summary][data-disable-description-merch][data-disable-description-ticket][data-disable-description-music]
    ytd-structured-description-content-renderer#structured-description.style-scope.ytd-watch-metadata {
    display: none !important;
}

/* ----------------------------------- */

/* -------------Comments-------------- */

html[data-disable-comments] ytd-comments,
html[data-disable-comments-amount] ytd-comments #title #count,
html[data-disable-comments-sorting] ytd-comments #title #sort-menu {
    display: none !important;
}

/* ----------------------------------- */
