#masthead-ad.ytd-rich-grid-renderer.style-scope,
div#home-page-skeleton,
html[disable_shorts='true'] .yt-simple-endpoint[title='Shorts'] {
    display: none !important;
}

html[disable_ads='true'] ytd-rich-item-renderer[rich-grid-hover-highlight] {
    display: none !important;
}

html[disable_sidebar='true'] #secondary.ytd-watch-flexy {
    display: none !important;
}
